h1 {
    background-color: black;
}

h2 {
    background-color: #663399;
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: #9FC5F8 ;
    color: #2B225C;
    text-align: right;
    text-decoration-line: underline;
}

h1 :first-child {
    color: white;
}

h1 :last-child {
    color: aqua;
}

